@import "tailwindcss";

@theme {
  --color-background: #030712;

  --color-primary: #ef4444;

  --color-text: #ffffff;
  --color-subtext: #ffffff99;

  --color-input-background: #ffffff0d;
  --color-input-border: #ffffff1a;
}

@theme inline {
  --font-hero: var(--font-clash-display);
  --font-section-title: var(--font-clash-display);
  --font-body: var(--font-satoshi);
}
