---
import { Icon } from "astro-icon/components";
---

<span class="text-lg text-subtext/80 flex items-center gap-2 justify-center">
  Follow Us on <a
    href="https://twitter.com/tuan_dot_world"
    target="_blank"
    rel="noopener noreferrer"><Icon name="fa6-brands:x-twitter" /></a
  > or <a
    href="https://github.com/tuan-ide"
    target="_blank"
    rel="noopener noreferrer"><Icon name="fa6-brands:github" /></a
  >
</span>
