---
import JoinWaitlist from "./JoinWaitlist.astro";
---

<footer class="border-input-border bg-input-background">
  <p class="text-center text-xl font-medium text-text py-4">
    Be the first to experience Tuan.
  </p>
  <p>
    Be among the first to experience a new paradigm in development. Join our
    waitlist for exclusive access and updates.
  </p>
  <JoinWaitlist />
</footer>
