<div>
  <h2 class="text-text">Rethink the way we code.</h2>
  <p class="text-balance text-subtext">
    Tuan is a whole new experience for building applications that fits the human
    brain, not the computer.
  </p>
</div>
