<div class="flex gap-4 flex-col w-full sm:flex-row sm:w-auto">
  <input
    type="email"
    placeholder="Enter your email"
    class="bg-input-background placeholder:text-input-border border-input-border border text-white py-3 px-4 rounded-md"
  />
  <button class="bg-primary text-white px-5 py-3 rounded-md font-semibold">Join the waitlist</button>
</div>
