<div>
  <input
    type="email"
    placeholder="Enter your email"
    class="bg-input-background placeholder:text-input-border border-input-border text-white"
  />
  <button class="bg-primary text-white">Join the waitlist</button>
</div>
