<div>
  <h2 class="text-text">Sneak Peek</h2>
  <p class="text-text/70 max-w-lg">A glimpse into the future of development.</p>

  <div class="mt-6 shadow-lg shadow-primary/20 border border-input-border aspect-video">
    <img src="/sneak-peek.png" alt="Sneak Peek" class="w-full" />
  </div>
</div>
