---
import GraphBackground from "../components/GraphBackground.astro";
import FeatureCards from "../components/sections/FeatureCards.astro";
import FollowUs from "../components/sections/FollowUs.astro";
import Footer from "../components/sections/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import JoinWaitlist from "../components/sections/JoinWaitlist.astro";
import Progress from "../components/sections/Progress.astro";
import SneakPeek from "../components/sections/SneakPeek.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <GraphBackground />

  <div class="h-svh flex flex-col justify-center items-center gap-8">
    <Hero />
    <JoinWaitlist />
    <div class="mt-4">
      <FollowUs />
    </div>
  </div>
  <div class="-mt-32">
    <FeatureCards />
  </div>
  <div class="my-48">
    <SneakPeek />
  </div>
  <div class="my-48">
    <Progress />
  </div>
  <div class="my-48">
    <Footer />
  </div>
</Layout>
