---
interface Props {
  title: string;
  description: string;
  icon: string;
}
---

<article class="border border-input-border bg-input-background p-4 rounded-sm">
  <h1 class="text-lg font-medium mb-1 text-text">{Astro.props.title}</h1>
  <p class="text-sm text-muted-foreground text-subtext">{Astro.props.description}</p>
</article>
