---
interface Props {
  title: string;
  description: string;
}
---

<header class="flex flex-col justify-center items-center gap-2 mb-12 text-center">
  <h2 class="text-text text-4xl font-bold">{Astro.props.title}</h2>
  <p class="text-text/70 max-w-lg text-balance text-lg">{Astro.props.description}</p>
</header>
